
<div class="profile-container">
    
    <div class="col-sm-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6 ng-tns-c320-3">
      <section id="basic-form-layouts">
        <div class="row">
            <div class="col-sm-12">
                <div class="content-header primary">Profile</div>
            </div>
        </div>
      </section>
        <div class="card p-3">
            <div>
                <p>As the administrator tasked with leading the efforts towards curing a rare disease, your knowledge and expertise are invaluable to our collaborative network. The form below is designed to capture essential information about your organization, facilitating connections with other entities and individuals committed to combating rare diseases.</p>
                <ul>
                    <li><strong>Organization name:</strong> This field helps us identify your organization within our community, allowing other collaborators and patients to find your profile and learn more about your contributions.</li>
                    <li><strong>Contact email:</strong> By providing a way for us to reach you directly, this ensures that we can facilitate smooth and efficient communication. Rest assured, your email will not be publicly displayed; it will only be used for necessary communications regarding your involvement and interest in combating rare diseases.</li>
                    <li><strong>Website:</strong> Providing your website address offers direct access to detailed information about your projects, research, and achievements, enhancing transparency and trust in your work.</li>
                </ul>
                <p>The information provided will be securely stored and, with the exception of your email address, included in a publicly accessible directory. This is designed to strengthen support networks, promote interdisciplinary collaboration, and accelerate advances in the treatment and cure of rare diseases. We thank you for sharing these details and for your commitment to this vital cause.</p>
            </div>
            
            <form class="center-elements mt-3" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                <mat-form-field class="col-md-12" appearance="fill">
                  <mat-label>Organization name</mat-label>
                  <input matInput formControlName="organization">
                  <mat-error *ngIf="submitted && profileForm.get('organization')?.invalid">This field is required.</mat-error>
                </mat-form-field>
                <mat-form-field class="col-md-12" appearance="fill">
                  <mat-label>Contact email</mat-label>
                  <input matInput formControlName="contactEmail">
                  <mat-error *ngIf="submitted && profileForm.get('contactEmail')?.invalid">
                      {{ profileForm.get('contactEmail')?.errors?.['required'] ? 'This field is required.' : 'Enter a valid email.' }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="col-md-12" appearance="fill">
                    <mat-label>Website</mat-label>
                    <input matInput formControlName="web">
                    <mat-error *ngIf="profileForm.get('web')?.errors?.['pattern']">Please enter a valid URL.</mat-error>
                  </mat-form-field>
            
                <button class="btn btn-primary" type="submit" ><em class="fa fa-save mr-1"></em> Save and go to home page</button>
              </form>
        </div>
       
    </div>
    
  </div>
  