<div class="container-fluid d-flex flex-column">
  <nav class="navbar navbar-expand-lg navbar-light header-navbar"
    style="margin-left: 0px; width: 100% !important; background-color: #fff; box-shadow: 0 6px 0 0 rgba(0,0,0,.01),0 15px 32px 0 rgba(0,0,0,.06); min-height: 4.3rem;">
    <div class="container-fluid">
      <div><span class="navbar-header-logos">
          <img src="assets/img/logo-lg-white.png" routerlink="/." class="logo-img-big pointer" style="cursor: pointer;"
            tabindex="0" alt="logo dxgpt" width="185px" height="46px">
        </span>
      </div>
      <div class="navbar-container pl-0">
        <div id="navbarSupportedContent">
          <ul class="navbar-nav mr-0">
            <li class="nav-item mr-2">
              <a class="btn btn-dark mb-0 btn-navbar" [routerLink]="['/login']"
                (click)="trackEventsService.lauchEvent('Login btn 1')">{{'login.Login' | translate }}</a>
              <!--<a class="btn btn-dark mb-0 btn-navbar mr-2" href="javascript:;" (click)="share()">{{'generics.Share' | translate }}</a>-->
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div #section1 class="mt-4" [ngClass]="(haveInfo)?'mar-custom':''">
    <div class="row m-0" style="min-height: 100vh !important;">
      <div class="col-md-6" [ngClass]="(!haveInfo)?'col-custom':''">
        <img src="assets/img/header.webp" class="img-fluid round" alt="hero">
      </div>
      <div class="col-sm-12 col-md-6 flex-column" [ngClass]="(!haveInfo)?'col-custom':''" >
        <div class="box-text">
          <h4>Connecting Communities to Uncover Keys in Rare Diseases</h4>
          <p>Welcome to Collaborare, an initiative by EURORDIS to enhance rare disease research through community
            collaboration. Here, patients, healthcare experts, and researchers unite to identify and share ten key
            elements for each rare disease, driving towards deeper understanding and innovative solutions.</p>


            <div class="row align-items-end justify-content-center">
              <h4 class="col-md-12 mt-4 mb-2">Find your condition</h4>
              <div class="col-md-12 p-0">
                <i class="fa fa-search mr-1 primary fa-1_7x align-middle"></i>
                <input type="text" class="form-control d-inline border-custom" style="border-radius: 25px;
                height: 45px;width: 80%;max-width: 500px;" [(ngModel)]="searchDiseaseField"
                  (keyup)="onKey2($event)" placeholder="Type the name or the orphacode number"
                  >
                  <span *ngIf="searchDiseaseField.length>0" class="pointer" (click)="clearsearchDiseaseField();"
                    style="position: relative;left: -44px;"><i class="fa fa-times ml-1"
                      style="color: #70757a;"></i></span>
              </div>
              <div class="col-md-12 no-padding">
                <div class="center-elements mt-2" *ngIf="callListOfDiseases">
                  <em class="mt-2 fa fa-spinner fa-spin fa-3x fa-fw secondary"></em>
                  <p>{{'generics.Please wait' | translate }}</p>
                </div>
                <div class="form-group mt-2" *ngIf="!callListOfDiseases" style="max-width: 500px;">
                  <span *ngIf="listOfFilteredDiseases.length>0">
                    <div class="table-cont">
                      <table class="table mb-0 border" aria-labelledby="rare disease"
                        style="background-color: #ffffff !important;">
                        <tbody class="tableList">
                          <tr *ngFor="let disease of listOfFilteredDiseases ; let i = index" class="d-flex">
                            <td class="col-md-12 dropdown-item" id="{{disease.id}}"
                              (click)="selectDisease(i);" style="cursor: pointer;">
                              <span>{{disease.name}}</span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </span>
                  <span *ngIf="listOfFilteredDiseases.length==0 && searchDiseaseField.length>3 && disease.name ==''">
                    <p>Nothing found. Try another search.</p>
                    <p>If you are an expert in the disease you are looking for, you can log in and curate the information to make it publicly available.</p>
                    <a class="btn btn-dark mb-0 btn-navbar" [routerLink]="['/login']"
                              (click)="trackEventsService.lauchEvent('Login btn 1')">{{'login.Login' | translate }}</a>
                  </span>
                </div>
              </div>
              <div class="col-md-12 no-padding">
                <div>
                  <div class="form-group mt-2" *ngIf="!callListOfDiseases" style="max-width: 500px;">
                    <div *ngIf="disease.name !=''">
                      <h4 class="mt-4">{{disease.name}}</h4>
                      <ul class="list-group" #section2 *ngIf="disease.items.length >0 ">
                        <li *ngFor="let item of disease.items; let i = index" class="list-group-item" #listItem>
                          {{ i + 1 }}. <span class="item-content">{{ item.name }}</span>
                        </li>
                      </ul>
                      
                    </div>
                    <div *ngIf="loadedItems">
                      <div *ngIf="disease.items.length ==0">
                        <p class="mt-4">No items found</p>
                        <p>
                          <a class="btn btn-dark mb-0 btn-navbar" [routerLink]="['/login']"
                              (click)="trackEventsService.lauchEvent('Login btn 1')">{{'login.Login' | translate }}</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


        </div>
      </div>
    </div>
  </div>
  <div>
    <!--<div class="row m-0 pt-5" style="background: #f5f5f5;min-height: 93vh !important;">
      <div class="col-sm-12 mb-4 margin-0 text-center">
        <div class="row">
          <div class="offset-md-2 col-md-8 align-items-center text-center">
            <div class="row align-items-end justify-content-center">
              <h4 class="col-md-12 mt-4 mb-2">Find your condition</h4>
              <div class="col-md-12 p-0">
                <i class="fa fa-search mr-1 primary fa-1_7x align-middle"></i>
                <input type="text" class="form-control d-inline border-custom" style="border-radius: 25px;
                height: 45px;width: 80%;" [(ngModel)]="searchDiseaseField"
                  (keyup)="onKey2($event)" placeholder="Type the name or the orphacode number"
                  >
                  <span *ngIf="searchDiseaseField.length>0" class="pointer" (click)="clearsearchDiseaseField();"
                    style="position: relative;left: -44px;"><i class="fa fa-times ml-1"
                      style="color: #70757a;"></i></span>
              </div>
              <div class="col-md-12 no-padding">
                <div class="center-elements mt-2" *ngIf="callListOfDiseases">
                  <em class="mt-2 fa fa-spinner fa-spin fa-3x fa-fw secondary"></em>
                  <p>{{'generics.Please wait' | translate }}</p>
                </div>
                <div class="form-group mt-2" *ngIf="!callListOfDiseases">
                  <span *ngIf="listOfFilteredDiseases.length>0">
                    <div class="table-cont">
                      <table class="table mb-0 border" aria-labelledby="rare disease"
                        style="background-color: #ffffff !important;">
                        <tbody class="tableList">
                          <tr *ngFor="let disease of listOfFilteredDiseases ; let i = index" class="d-flex">
                            <td class="col-md-12 dropdown-item" id="{{disease.id}}"
                              (click)="selectDisease(i);" style="cursor: pointer;">
                              <span>{{disease.name}}</span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </span>
                  <span *ngIf="listOfFilteredDiseases.length==0 && searchDiseaseField.length>3 && disease.name ==''">
                    <p>Nothing found. Try another search.</p>
                    <p>If you are an expert in the disease you are looking for, you can log in and curate the information to make it publicly available.</p>
                    <a class="btn btn-dark mb-0 btn-navbar" [routerLink]="['/login']"
                              (click)="trackEventsService.lauchEvent('Login btn 1')">{{'login.Login' | translate }}</a>
                  </span>
                </div>
              </div>
              <div class="col-md-12 no-padding">
                <div>
                  <div class="form-group mt-2" *ngIf="!callListOfDiseases">
                    <div *ngIf="disease.name !=''">
                      <h4 class="mt-4">{{disease.name}}</h4>
                      <ul class="list-group" *ngIf="disease.items.length >0 ">
                        <li *ngFor="let item of disease.items; let i = index" class="list-group-item" #listItem>
                          {{ i + 1 }}. <span class="item-content">{{ item.name }}</span>
                        </li>
                      </ul>
                      
                    </div>
                    <div *ngIf="loadedItems">
                      <div *ngIf="disease.items.length ==0">
                        <p class="mt-4">No items found</p>
                        <p>
                          <a class="btn btn-dark mb-0 btn-navbar" [routerLink]="['/login']"
                              (click)="trackEventsService.lauchEvent('Login btn 1')">{{'login.Login' | translate }}</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>-->



    <div class="flex-shrink-0 col-margin border-top" style="background: #ffffff;">
      <div class="col-md-12 p-2 mt-2">
        <div class="col-md-12 align-items-center text-center">
          <div class="row align-items-end justify-content-center">
            <a href="https://twitter.com/foundation29feb" target="_blank" type="button"
            class="btn btn-primary btn-icon round mr-1 mb-1">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="https://www.linkedin.com/company/foundation29/" target="_blank" type="button"
            class="btn btn-primary btn-icon round mr-1 mb-1">
            <i class="fa fa-linkedin"></i>
          </a>
          </div>
          <div class="">
            <p class="mt-1 mb-0">&copy; 2023 <a href="https://foundation29.org/" target="_blank">Fundación 29</a> -
              Collaborare</p>
            <a class="mt-0" href="javascript:;"
              (click)="openPolicy(policyPanel);trackEventsService.lauchEvent('privacy-policy btn 1')">
              <span>{{'registration.Privacy Policy' | translate }}</span>
            </a>
          </div>
        </div>
        
      </div>

    </div>
  </div>

  <ng-template #policyPanel let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">{{'registration.Privacy Policy' | translate }}</h4>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="px-3">
        <div class="form-body">
          <div class="row">
            <div class="col-sm-12">
              <h5>{{'policy.CONTENT' | translate }}</h5>
              <ol>
                <li><a class="primary" (click)="goTo('step1')">{{'prereg.t1' | translate }}</a></li>
                <li><a class="primary" (click)="goTo('step2')">{{'prereg.t2' | translate }}</a></li>
                <li><a class="primary" (click)="goTo('step3')">{{'prereg.t3' | translate }}</a></li>
                <li><a class="primary" (click)="goTo('step4')">{{'prereg.t4' | translate }}</a></li>
                <li><a class="primary" (click)="goTo('step5')">{{'policy.step1' | translate }}</a></li>
                <li><a class="primary" (click)="goTo('step6')">{{'prereg.t6' | translate }}</a></li>
                <li><a class="primary" (click)="goTo('step7')">{{'policy.step2' | translate }}</a></li>
                <li><a class="primary" (click)="goTo('step8')">{{'policy.step3' | translate }}</a></li>
                <li><a class="primary" (click)="goTo('step9')">{{'policy.step4' | translate }}</a></li>
                <li><a class="primary" (click)="goTo('step10')">{{'policy.step5' | translate }}</a></li>
              </ol>
              <a id="step1"></a>
              <div>
                <h6 class="pt-2 dark text-bold-600">1. {{'prereg.t1' | translate }}</h6>
                <p>
                  {{'prereg.a1' | translate }}
                </p>
              </div>
              <a id="step2"></a>
              <div>
                <h6 class="pt-2 dark text-bold-600">2. {{'prereg.t2' | translate }}</h6>
                <p>
                  {{'prereg.a2.1' | translate }}
                </p>
              </div>
              <a id="step3"></a>
              <div>
                <h6 class="pt-2 dark text-bold-600">3. {{'prereg.t3' | translate }}</h6>
                <p>
                  {{'prereg.a3' | translate }}
                </p>
              </div>
              <a id="step4"></a>
              <div>
                <h6 class="pt-2 dark text-bold-600">4. {{'prereg.t4' | translate }}</h6>
                <p>
                  {{'prereg.a4' | translate }}
                </p>
              </div>
              <a id="step5"></a>
              <div>
                <h6 class="pt-2 dark text-bold-600">5. {{'policy.step1' | translate }}</h6>
                <p>
                  {{'policy.step1-1' | translate }}:
                </p>
                <ul>
                  <li>NIF: G-87894119</li>
                  <li>{{'policy.step1-2' | translate }}: Calle Santa Fe 1, 2 E. 28224 – Pozuelo de Alarcón (Madrid)</li>
                  <li>{{'generics.Email' | translate }}: support@foundation29.org</li>
                </ul>
              </div>
              <a id="step6"></a>
              <div>
                <h6 class="pt-2 dark text-bold-600">6. {{'prereg.t6' | translate }}</h6>
                <p>
                  {{'prereg.a6' | translate }}
                </p>
              </div>
              <a id="step7"></a>
              <div>
                <h6 class="pt-2 dark text-bold-600">7. {{'policy.step2' | translate }}</h6>
                <p>
                  {{'policy.step2-1' | translate }}:
                </p>
                <ul>
                  <li>
                    {{'policy.step2-2' | translate }}
                  </li>
                  <li>
                    {{'policy.step2-3' | translate }}
                  </li>
                </ul>
              </div>
              <a id="step8"></a>
              <div>
                <h6 class="pt-2 dark text-bold-600">8. {{'policy.step3' | translate }}</h6>
                <p>
                  {{'policy.step3-1' | translate }}
                </p>
              </div>
              <a id="step9"></a>
              <div>
                <h6 class="pt-2 dark text-bold-600">9. {{'policy.step4' | translate }}</h6>
                {{'policy.step4-1' | translate }}:
                <ul>
                  <li>
                    {{'policy.step4-2' | translate }}
                  </li>
                  <li>
                    {{'policy.step4-3' | translate }}
                  </li>
                  <li>
                    {{'policy.step4-4' | translate }}
                  </li>
                  <li>
                    {{'policy.step4-5' | translate }}
                  </li>
                  <li>
                    {{'policy.step4-6' | translate }}
                  </li>
                </ul>

                <p>{{'policy.step4-7' | translate }}</p>
              </div>
              <a id="step10"></a>
              <div>
                <h6 class="pt-2 dark text-bold-600">10. {{'policy.step5' | translate }}</h6>
                <p>
                  {{'policy.step5-1' | translate }}
                </p>
              </div>
              <hr>
              <p>
                {{'policy.other1' | translate }}
              </p>
              <p>
                {{'policy.other2' | translate }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>