<div class="">
  <a id="initpos"></a>
  <section class="card row mt-0 mb-0">
    <div class="modal-header">
      <h4 class="modal-title">{{'registration.Privacy Policy' | translate }}</h4>
      <button *ngIf="activeModal" type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        <h6 class="pt-2 dark text-bold-600">Introduction</h6>
        <p>
          Welcome to CollaboRARE! We prioritize your privacy and are transparent about how we manage your information.
        </p>
        <p>This policy details our data collection, usage, and protection practices as you engage with the CollaboRARE platform.</p>
      </div>
      <div>
        <h6 class="pt-2 dark text-bold-600">Information we collect</h6>
        <ul>
          <li>
            <strong>Patient contact group information:</strong> We collect just the organization name and country, not personal data, when you validate a condition. Your email is stored solely for updates to the validated list and isn't published on the website. 
          </li>
          <li>
            <strong>Patient health group information:</strong> We gather health data at the group level only, not individual patient details. No identifiable information is collected from you or your organization’s patients. 
          </li>
        </ul>
      </div>
      <div>
        <h6 class="pt-2 dark text-bold-600">How we use your information</h6>
        <ul>
          <li>To handle and upkeep your user account.</li>
          <li>To inform you about platform updates and provide support.</li>
          <li>To enable your engagement with the platform.</li>
          <li>To meet legal requirements and ensure regulatory adherence.</li>
        </ul>
      </div>
      <div>
        <h6 class="pt-2 dark text-bold-600">Sharing of your information</h6>
        <ul>
          <li>Once the patient experience data is validated, it will be formatted for easy verification by third parties and made publicly available.</li>
          <li>The structured list and any related documentation will be accessible on CollaboRARE's website. Additionally, the data will be published in a public repository to enhance sharing and reuse. Our goal is to increase visibility and access, allowing researchers, healthcare organizations, and others to use the insights for patients' benefit globally. By using our website, scientific publications, and open data repositories, we aim to ensure broad dissemination and impact of this resource.</li>
        </ul>
      </div>
      <div>
        <h6 class="pt-2 dark text-bold-600">Your rights under GDPR</h6>
        <ul>
          <li><strong>Right to access:</strong> You can request copies of your data from us.</li>
          <li><strong>Right to rectification:</strong> You may ask us to correct any inaccuracies or incomplete information.</li>
          <li><strong>Right to deletion:</strong> You can request that we delete your data.</li>
          <li><strong>Right to withdraw consent:</strong> You can withdraw your consent for data use at any time.</li>
        </ul>
      </div>
      <div>
        <h6 class="pt-2 dark text-bold-600">Consent</h6>
        <ul>
          <li>By creating an account and submitting information on our platform, you consent to the collection and use of your data as described in this privacy policy.</li>
        </ul>
      </div>
      <div>
        <h6 class="pt-2 dark text-bold-600">Changes to our privacy policy</h6>
        <ul>
          <li>We reserve the right to modify this policy at any time. Changes will be communicated by updating the "Last updated" date of this policy. We encourage you to periodically review this policy to stay informed.</li>
        </ul>
      </div>
      <div>
        <h6 class="pt-2 dark text-bold-600">Data Controller</h6>
        <p>
          The information provided will be processed by Fundación 29 de Febrero (F29), which is the responsible for data control. Here is the contact information for F29:
        </p>
        <ul>
          <li><strong>Address:</strong> Calle Santa Fe 1, 2 E, 28224 – Pozuelo de Alarcón (Madrid)</li>
          <li><strong>Identification Number:</strong> G-87894119</li>
          <li><strong>Email:</strong> support@foundation29.org</li>
        </ul>
      </div>
      <div>
        <h6 class="pt-2 dark text-bold-600">Data Protection Officer</h6>
        <p>
          You can also contact our Data Protection Officer to make any queries or to exercise the rights that legitimately protect you through the following address: privacy@foundation29.org
        </p>
      </div>
      <div>
        <h6 class="pt-2 dark text-bold-600">Exercise of your rights</h6>
        <p>
          At any time you may exercise your rights under the legally established terms by sending a written communication to the address: Calle Santa Fe, number 1, 2ºE – Pozuelo de Alarcón, 28224 (Madrid), or by email: privacy@foundation29.org 
        </p>
        <p>
          In this communication you must indicate the right you want to exercise and the data or set of personal data that is the subject of your claim. 
        </p>
        <p>
          Finally, we inform you that you will have the right to file a claim with the Spanish Data Protection Agency, as the control authority. www.aepd.es
        </p>
      </div>
      <div>
        <h6 class="pt-2 dark text-bold-600">Contact Us</h6>
        <p>
          If you have questions or suggestions about our Privacy Policy, or you want to get in contact with Foundation 29 for any other reason, please contact us at support@foundation29.org.
        </p>
      </div>
    </div>
    <div class="col-md-12 center-elements mb-4">
      <button type="button" class="btn btn-secondary btn-raised" (click)="close()">{{'generics.Close' | translate }}</button>
    </div>
  </section>
</div>