<div class="">
  <a id="initpos"></a>
  <section class="card row mt-0 mb-0">
    <div class="modal-header">
      <h4 class="modal-title">{{'registration.Privacy Policy' | translate }}</h4>
      <button *ngIf="activeModal" type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        <h6 class="pt-2 dark text-bold-600">Introduction</h6>
        <p>
          Welcome to Collaborare! We prioritize your privacy and are fully transparent on how we manage the information you provide.
        </p>
        <p>This policy details our practices regarding data collection, usage, and protection as you engage with the Collaborare platform.</p>
      </div>
      <div>
        <h6 class="pt-2 dark text-bold-600">Information we collect</h6>
        <ul>
          <li>
            <strong>Patient contact group information:</strong> We don’t collect any personal information. We only collect the patient organization name and country when you when you validate a condition in our services, and your email address only for keeping contact with you. The email address you provide to us is not published in the website. 
          </li>
          <li>
            <strong>Patient health group information:</strong> We collect health information specific to your patient group in a <strong>consolidated</strong> manner (at group level), not at an individual patient level. We don’t collect identifiable information at all, neither from you nor from any of the patients that belong to your organization. 
          </li>
        </ul>
      </div>
      <div>
        <h6 class="pt-2 dark text-bold-600">How we use your information</h6>
        <ul>
          <li>To manage and maintain your user account.</li>
          <li>To communicate with you about platform updates and to offer support.</li>
          <li>To facilitate your participation in the platform.</li>
          <li>To comply with legal obligations and ensure regulatory compliance.</li>
        </ul>
      </div>
      <div>
        <h6 class="pt-2 dark text-bold-600">Sharing of your information</h6>
        <ul>
          <li>Once the list of patient experience data has been validated it will be converted into a simple structured format that can be easily used by third parties and the public. Along with the structured data, comprehensive documentation will be created on how the data can be used by third parties.</li>
          <li>The structured list and accompanying documentation will be made accessible to third parties by dissemination via publication in scientific literature and open access.</li>
        </ul>
      </div>
      <div>
        <h6 class="pt-2 dark text-bold-600">Your rights under GDPR</h6>
        <ul>
          <li><strong>Right to access:</strong> You have the right to request copies of the data provided to us.</li>
          <li><strong>Right to rectification:</strong> You may ask us to correct any inaccurate or incomplete data.</li>
          <li><strong>Right to deletion:</strong> You can request the deletion of the data provided to us.</li>
          <li><strong>Right to withdraw consent:</strong> At any time, you may withdraw your consent for us to use your data.</li>
        </ul>
      </div>
      <div>
        <h6 class="pt-2 dark text-bold-600">Consent</h6>
        <ul>
          <li>By using our platform, you consent to our privacy policy.</li>
        </ul>
      </div>
      <div>
        <h6 class="pt-2 dark text-bold-600">Changes to Our Privacy Policy</h6>
        <ul>
          <li>We reserve the right to modify this policy at any time. Changes will be communicated by updating the "Last updated" date of this policy. We encourage you to periodically review this policy to stay informed.</li>
        </ul>
      </div>
      <div>
        <h6 class="pt-2 dark text-bold-600">Data Controller</h6>
        <p>
          The information provided will be processed by Fundación 29 de Febrero (F29), which is the responsible for data control. Here is the contact information for F29:
        </p>
        <ul>
          <li><strong>Email:</strong> support@foundation29.org</li>
          <li><strong>Address:</strong> Calle Santa Fe 1, 2 E, 28224 – Pozuelo de Alarcón (Madrid)</li>
          <li><strong>Identification Number:</strong> G-87894119</li>
        </ul>
      </div>
      <div>
        <h6 class="pt-2 dark text-bold-600">Contact Us</h6>
        <p>
          If you have questions or suggestions about our Privacy Policy, please contact us at support@foundation29.org.
        </p>
      </div>
    </div>
    <div class="col-md-12 center-elements mb-4">
      <button type="button" class="btn btn-secondary btn-raised" (click)="close()">{{'generics.Close' | translate }}</button>
    </div>
  </section>
</div>