<section class="white" style="padding-bottom: 70px !important;padding-top: 70px !important;background-color: #ffffff;">
  <div class="col-12 d-flex justify-content-center">
    <div class="card-body" style="max-width: 1200px;">
      <div class="row m-0">
        <div class="offset-md-2 col-md-8 justify-content-center align-items-center text-center" style="padding-top: 1.5rem;padding-right: 1.5rem;padding-left: 1.5rem;">
          <iframe src="https://www.youtube.com/embed/Tq5BVsxrV3U?rel=0&cc_load_policy=1&hl=en" frameborder="0"  webkitallowfullscreen mozallowfullscreen allowfullscreen class="video-frame"></iframe>
          <!--<iframe src="https://www.youtube.com/embed/qYLp3lC5YpM?rel=0&cc_load_policy=1&hl=en" frameborder="0"  webkitallowfullscreen mozallowfullscreen allowfullscreen class="video-frame"></iframe>-->
        </div>
      </div>
    </div>
</div>
</section>
<div class="col-lg-12 col-md-12 py-2">
  <app-contact-form></app-contact-form>
</div>

