<section class="" style="padding-bottom: 70px !important;background-color: #ffffff;">
  <div class="col-12 d-flex justify-content-center">
    <div class="card-body" style="max-width: 1200px;">
      <div class="row m-0">
        <div class="offset-md-2 col-md-8 justify-content-center align-items-center text-center" style="padding-top: 1.5rem;padding-right: 1.5rem;padding-left: 1.5rem;">
          <h1 class="card-title text-bold-500">
            Introduction
            <hr class="hr-custom">
          </h1>
          <span class="text-left row margin-left-0 p-2">
            <p>Understanding patient experiences and outcomes is essential in the complex landscape of rare diseases.</p>
            <p>Patient Experience data is crucial for improving healthcare services, particularly in developing treatments for rare diseases (known as orphan medicines).</p>
            <p>Even though it is crucial, European healthcare organizations encounter difficulties in efficiently gathering, processing, and using Patient Experience Data (PED). These challenges include the absence of standardized approaches, a weak data collection culture among patient organizations, and the necessity for effective methods to begin data capture.</p>
          </span>

          <h1 class="mt-5 card-title text-bold-500">
            What does Patient Experience Data (PED) involve?
            <hr class="hr-custom">
          </h1>
          <span class="text-left row margin-left-0 p-2">
            <p><strong>PED</strong> refers to the information and insights gathered from patients and their caregivers about their experiences with a disease or condition and its treatment. This data spans various categories, including:</p>
            <ul>
              <li><strong>Symptoms</strong>	experienced by patients and how these symptoms impact their daily lives.</li>
              <li><strong>Quality of life,</strong> considering the emotional, social, and physical effects of the disease.</li>
              <li><strong>Treatment preferences and outcomes,</strong> indicating what patients value regarding care, treatment options, and the consequences of these treatments on their lives.</li>
              <li><strong>Disease progression and management,</strong> describing how patients manage their conditions over time, including the effectiveness and side effects of treatments.</li>
            </ul>
            <p>PED aims to provide comprehensive insights into the patient's journey, emphasizing what is most significant to those affected by rare diseases, where individual experiences can be diverse and may not be fully understood.</p>
          </span>
          
          <h1 class="mt-5 card-title text-bold-500">
            What is this project about?
            <hr class="hr-custom">
          </h1>
          <span class="text-left row margin-left-0 p-2">
            <p>CollaboRARE has been developed to enhance patient care through the effective collection and use of Patient Experience Data (PED). The initiative tackles the difficulties encountered in obtaining this data for orphan drugs.</p>
            <p>By utilizing PED, CollaboRARE supports the objectives of the European Medicines Agency (EMA) to integrate patient perspectives into the development and assessment of medications, ensuring treatments genuinely address patient needs.</p>
          </span>

          <h1 class="mt-5 card-title text-bold-500">
            What is CollaboRARE?
            <hr class="hr-custom">
          </h1>
          <span class="text-left row margin-left-0 p-2">
            <p>CollaboRARE addresses these challenges with an AI-based, patient-validated method to efficiently gather PED. By validating data crucial for patient care, CollaboRARE aims to enhance healthcare decisions and aid regulatory processes for rare disease treatments.</p>
          </span>
          
          <h1 class="mt-5 card-title text-bold-500">
            How does it work?
            <hr class="hr-custom">
          </h1>
          <span class="text-left row margin-left-0 p-2">
            <p>The process is simple and user-friendly:</p>
            <ul>
              <li>Generative AI analyzes existing data for a condition to create an initial list of key issues and needs.</li>
              <li>Patient organizations appoint a representative to register on the CollaboRARE website.</li>
              <li>This representative gathers consensus in the organization to review, prioritize, and complete the list.</li>
              <li>The validated list is formatted and published as open data to enhance understanding of patient needs and innovative solutions.</li>
              <li>The tool notes the validation date and the validating organization.</li>
            </ul>
            <p>For detailed instructions, please see the How-to Guide.</p>
          </span>

          <h1 class="mt-5 card-title text-bold-500">
            Why your participation is key?
            <hr class="hr-custom">
          </h1>
          <span class="text-left row margin-left-0 p-2">
            <p>As a representative of patient organizations, your role is vital. Gathering input and consensus from your community ensures the data truly represents patients' needs and priorities. This collective effort is key to enhancing care and outcomes for those with rare diseases.</p>
          </span>

          <h1 class="mt-5 card-title text-bold-500">
            What do you think about CollaboRARE?
            <hr class="hr-custom">
          </h1>
          <span class="text-left row margin-left-0 p-2">
            <p>We value your feedback on CollaboRARE. Your input is essential for improving our tool. Share your thoughts using Hotjar:</p>
            <ul>
              <li>Find the 'Feedback' tab on the right side of your screen.</li>
              <li>Click it to open the form.</li>
              <li>Fill in your suggestions, observations, or experiences.</li>
              <li>Click 'Submit' to send your feedback.</li>
              <li>Your input helps enhance CollaboRARE for everyone.</li>
            </ul>
          </span>

          <h1 class="mt-5 card-title text-bold-500">
          Data sources for rare diseases
            <hr class="hr-custom">
          </h1>
          <span class="text-left row margin-left-0 p-2">
            <p>The data used in <strong>CollaboRARE</strong>  for rare diseases comes from reputable sources. Specifically, we use:</p>
            <ul>
              <li><strong>Orphanet</strong>: CollaboRARE utilizes the <a class="text-decoration-underline" href="https://www.orphadata.com/alignments/" target="_blank" >Orphadata Alignments</a>, a detailed rare diseases database. We are referencing the <strong>July 1st, 2024</strong> version, which lists <strong>11,023 diseases</strong>. Orphanet's data aids in better diagnosis, care, and treatment for rare disease patients.</li>
            </ul>
            <p>This guarantees that the key issues and needs for each disease are based on reliable, current data.</p>
          </span>

          <h1 class="mt-5 card-title text-bold-500">
          Open source code
            <hr class="hr-custom">
          </h1>
          <span class="text-left row margin-left-0 p-2">
            <p>CollaboRARE is an open-source project, and you can explore the code repositories for both the client and server components of the platform:</p>
            <ul>
              <li><a class="text-decoration-underline" href="https://github.com/foundation29org/collaborare_client" target="_blank" >Client repository</a></li>
              <li><a class="text-decoration-underline" href="Server repository" target="_blank" >Server repository</a></li>
            </ul>
            <p>These repositories contain the code that powers CollaboRARE’s platform, offering transparency and allowing contributions from the broader community.</p>
          </span>

          <h1 class="mt-5 card-title text-bold-500">
          AI model used
            <hr class="hr-custom">
          </h1>
          <span class="text-left row margin-left-0 p-2">
            <p>To generate the preliminary list of key issues and needs for each condition, <strong>CollaboRARE</strong> utilizes <strong>GPT-4-0613</strong>, a state-of-the-art generative AI model. This model helps analyze existing information on specific conditions and provides an initial set of insights, which is then validated by patient organizations. The use of AI ensures that the process is efficient and that the data is as comprehensive as possible.</p>
          </span>
        </div>
      </div>
    </div>
</div>
</section>


<div class="col-lg-12 col-md-12 py-2">
  <app-contact-form></app-contact-form>
</div>
